@model TiendaVirtual.Stock

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Producto.name):
            @Html.DisplayFor(model => model.Producto.name)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.stockQuantity):
            @Html.DisplayFor(model => model.stockQuantity)
        </dt>
        <dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
