@model IEnumerable<TiendaVirtual.Compra>

@{
    ViewBag.Title = "Index";
}

<h2>Compra</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.compradoQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.compradoProductoAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.compradoQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producto.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.compradoProductoAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}
</table>
<p>@Html.ActionLink("Generar Pedido", "Index", "Pedidoes")</p>